<% content_for(:title, "Coder Portfolios") %>

<h1>Coder Portfolios</h1>

<h4>Show or Edit a Coder</h4>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %>:
    <%= link_to "Edit", edit_user_path(user) %>  <%= link_to "Delete", user_path(user),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %>
    </li>
  <% end %>

</ul>
<p><%= link_to "Add a new coder", new_user_path %></p>
