<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %>:
    <%= link_to "Edit", edit_user_path(user) %>  <%= link_to "Delete", user_path(user),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %>
    </li>
  <% end %>
</ul>
